.carousel-data{
    position: absolute;
    margin-top: -344px;
    margin-left: 751px;

}
.hero2,.hero3{
    width:73%;
}
.hero4{
    width:80%;
}
.user-profile{
    margin-left:30px;
}
.cart-symbol{    
    display: inline-block;
    margin-left:100px;
    position: relative;
    top: -23px;
}